In [29]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By  
from bs4 import BeautifulSoup
import time

# Q1: In this question you have to scrape data using the filters available on the webpage You have to use the location and salary filter.
    You have to scrape data for “Data Scientist” designation for first 10 job results.
    You have to scrape the job-title, job-location, company name, experience required.
    The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
    The task will be done as shown in the below steps:
    1. first get the web page https://www.naukri.com/
    2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
    3. Then click the search button.
    4. Then apply the location filter and salary filter by checking the respective boxes
    5. Then scrape the data for the first 10 jobs results you get.
    6. Finally create a dataframe of the scraped data.

In [2]:

# Set up Edge WebDriver
edge_options = webdriver.EdgeOptions()
edge_options.use_chromium = True  # This enables using the Chromium-based Edge browser
driver = webdriver.Edge(options=edge_options)
driver.get('https://www.naukri.com/')
time.sleep(5)  # Wait for the page to load

# Locate the input field and search for 'Data Scientist'
designation = driver.find_element(By.CLASS_NAME, 'suggestor-input').send_keys('Data Scientist')

# search button click
search = driver.find_element(By.CLASS_NAME, "qsbSubmit")
search.click()

time.sleep(5)  # Wait for the search results to loa

# Apply filters Location & Salray
driver.find_element(By.XPATH, "(//i[@class='ni-icon-unchecked'])[10]").click()  # Location filter
time.sleep(5)  # Wait for the filter to apply
driver.find_element(By.XPATH, "(//i[@class='ni-icon-unchecked'])[13]").click()  # Salary filter
time.sleep(5)  # Wait for the filter to apply

jobs = []
title_tags = driver.find_elements(By.XPATH, '//a[@class="title "]')
location_tags = driver.find_elements(By.XPATH, '//span[@class="locWdth"]')
company_tags = driver.find_elements(By.XPATH, '//div[@class=" row2"]/span/a[1]')
experience_tags = driver.find_elements(By.XPATH, '//span[@class="expwdth"]')

# Collect data for the first 10 jobs
for i in range(min(10, len(title_tags))):
    jobs.append({
        'Job Title': title_tags[i].text.strip(),
        'Location': location_tags[i].text.strip() if i < len(location_tags) else '',
        'Company': company_tags[i].text.strip() if i < len(company_tags) else '',
        'Experience': experience_tags[i].text.strip() if i < len(experience_tags) else ''
    })

# Create a DataFrame and save to CSV
df = pd.DataFrame(jobs)
df.to_csv('naukri_jobs.csv', index=False)

# Print the DataFrame
print(df)

# Close the WebDriver
driver.quit()

        Job Title                                           Location  \
0  Data Scientist  Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...
1  Data Scientist  Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...
2  Data Scientist                Hybrid - Noida, Gurugram, Bengaluru
3  Data Scientist  Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...
4  Data Scientist                                           Gurugram
5                         Mumbai, Pune, Chennai, Gurugram, Bengaluru
6                                  Delhi / NCR, Hyderabad, Bengaluru
7                                                           Gurugram
8  Data Scientist                                          Faridabad
9  Data Scientist                                              Noida

                                             Company Experience
0                              Futurism Technologies    3-7 Yrs
1                                     Nityo Infotech    3-7 Yrs
2  One of the global analytics and digital soluti...    3-5 Yrs
3                                     Nityo Infotech    3-7 Yrs
4                                      Maruti Suzuki    4-7 Yrs
5                                     Neal Analytics    1-6 Yrs
6                                        Foreign MNC   6-11 Yrs
7                                           Jobpoint    4-7 Yrs
8                                  Rarr Technologies   6-12 Yrs
9                                          Precisely    1-3 Yrs

# *************************************************************************

# Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the
    job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.
    This task will be done in following steps:
    1. First get the webpage https://www.shine.com/
    2. Enter “Data Analyst” in “Job title, Skills” field and enter “Bangalore” in “enter the location” field.
    3. Then click the searchbutton.
    4. Then scrape the data for the first 10 jobs results you get.
    5. Finally create a dataframe of the scraped data.

In [8]:


edge_options = webdriver.EdgeOptions()
edge_options.use_chromium = True  # Use Chromium-based Edge
driver = webdriver.Edge(options=edge_options)

# Set an implicit wait time (e.g., 10 seconds)
driver.implicitly_wait(10)


# Step 1: Navigate to Shine website
driver.get('https://www.shine.com/')
time.sleep(5)

driver.find_element(By.CLASS_NAME,"input").click()
time.sleep(5)

# Step 2: Enter "Data Scientist" in the job search field
driver.find_element(By.XPATH, "//input[@id='id_q']").send_keys('Data Scientist')

# Step 3: Enter "Bangalore" in the location field
driver.find_element(By.ID, 'id_loc').send_keys('Bangalore')

# Step 4: Click the search button
driver.find_element(By.XPATH, '//button[@class=" btn btn-secondary undefined"]').click()

# Wait for the page to load
time.sleep(5)

# Step 5: Scrape job data for the first 10 results
job_titles = driver.find_elements(By.XPATH, "//strong[@class='jobCard_pReplaceH2__xWmHg']")[:10]
locations = driver.find_elements(By.XPATH, "//div[@class='jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2']")[:10]
companies = driver.find_elements(By.XPATH, "//div[@class='jobCard_jobCard_cName__mYnow']")[:10]
experiences = driver.find_elements(By.XPATH, "//div[@class=' jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t']")[:10]

# Collecting data
jobs = []
for i in range(10):
    job = {
        'Job Title': job_titles[i].text,
        'Location': locations[i].text,
        'Company': companies[i].text,
        'Experience': experiences[i].text
    }
    jobs.append(job)

# Step 6: Create a DataFrame and print the data
df = pd.DataFrame(jobs)
print(df)


# Save the results to a CSV file
df.to_csv('shine_job.csv', index=False)
# Close the driver
driver.quit()

                          Job Title       Location  \
0       Data Scientist In SINGAPORE  Bangalore\n+1
1                    Data Scientist  Bangalore\n+6
2               Lead Data Scientist  Bangalore\n+8
3                    Data Scientist  Bangalore\n+9
4                    Data Scientist  Bangalore\n+2
5                    Data Scientist      Bangalore
6            Data Science Analytics  Bangalore\n+7
7                 sql data analysis  Bangalore\n+1
8                      Data Analyst  Bangalore\n+4
9  Data Catalog with Data Goverance  Bangalore\n+8

                                  Company    Experience
0                   adal immigrations llp    3 to 8 Yrs
1                           techno endura    0 to 2 Yrs
2               spento papers (india) llp  12 to 22 Yrs
3                  future solution centre    2 to 7 Yrs
4  the christopher's consulting and re...    0 to 2 Yrs
5  eliterecruitments hiring for global...    4 to 8 Yrs
6  mackenzie modern it solutions priva...    5 to 8 Yrs
7         ikaya solutions private limited    3 to 6 Yrs
8                        aryan technology    0 to 4 Yrs
9                     ltimindtree limited   6 to 11 Yrs

# *************************************************************************

# Q3: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:
    https://www.flipkart.com/apple-iphone-11-black-64-gb/productreviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART:
    As shown in the above page you have to scrape the tick marked attributes. These are:
    1. Rating
    2. Review summary
    3. Full review
    4. You have to scrape this data for first 100reviews

In [9]:

# Initialize Edge WebDriver with options
edge_options = webdriver.EdgeOptions()
edge_options.use_chromium = True  # Use Chromium-based Edge
driver = webdriver.Edge(options=edge_options)

# Set an implicit wait time (e.g., 10 seconds)
driver.implicitly_wait(10)

# Navigate to the iPhone 11 review page on Flipkart
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART")
driver.implicitly_wait(10)

# Function to scrape reviews from the current page
def scrape_reviews():
    review_summaries = driver.find_elements(By.XPATH, "//p[@class='z9E0IG']") 
    ratings = driver.find_elements(By.XPATH, "//div[@class='XQDdHH Ga3i8K']")  
    full_reviews = driver.find_elements(By.XPATH, "//div[@class='ZmyHeo']")  
    
    reviews = []
    num_reviews = min(len(ratings), len(review_summaries), len(full_reviews))
    for i in range(num_reviews):
        reviews.append({
            'Rating': ratings[i].text,
            'Review Summary': review_summaries[i].text,
            'Full Review': full_reviews[i].text
        })
    return reviews

# Accumulate reviews across multiple pages
all_reviews = []
while len(all_reviews) < 100:  # Continue until we have 50 reviews
    # Scrape reviews from the current page
    all_reviews.extend(scrape_reviews())
    
    # Check if we have enough reviews, if not, click "Next" and proceed
    if len(all_reviews) < 100:
        try:
            # Locate and click the "Next" button
            next_button = driver.find_element(By.XPATH, "(//span[normalize-space()='Next'])[1]")
            next_button.click()
            time.sleep(5)  # Wait for the next page to load
        except Exception as e:
            print("No more pages or error in clicking Next:", e)
            break 

# Truncate reviews to exactly 50 (if we got more than 50)
all_reviews = all_reviews[:100]

# Create a DataFrame to store the reviews
df_reviews = pd.DataFrame(all_reviews)

# Print the DataFrame
print(df_reviews)

df_reviews.to_csv('df_reviews.csv', index=False)

# Close the browser
driver.quit()

   Rating       Review Summary  \
0       5  Best in the market!
1       5             Terrific
2       5       Classy product
3       5    Worth every penny
4       5     Perfect product!
..    ...                  ...
95      5            Excellent
96      5     Perfect product!
97      5            Brilliant
98      5            Must buy!
99      5             Terrific

                                          Full Review
0                                         Good Camera
1                                      Very very good
2   Camera is awesome\nBest battery backup\nA perf...
3   Feeling awesome after getting the delivery of ...
4                                        Photos super
..                                                ...
95  A perfect phone and a good battery super camer...
96                         Very nice iPhone 11 i lake
97                                    Fantastic phone
98                                          Excellent
99  Really worth of money. i just love it. It is t...

[100 rows x 3 columns]

# *************************************************************************

# Q4: Scrape data forfirst 100 sneakers you find whenyouvisitflipkart.com and search for “sneakers” inthe search field.You have to scrape 3 attributes of each sneaker:
    1. Brand
    2. ProductDescription
    3. Price
    As shown in the below image, you have to scrape the above attributes.

In [10]:

# Initialize Edge WebDriver with options
edge_options = webdriver.EdgeOptions()
edge_options.use_chromium = True  # Use Chromium-based Edge
driver = webdriver.Edge(options=edge_options)

# Set an implicit wait time (e.g., 10 seconds)
driver.implicitly_wait(10)

# Open Flipkart
driver.get('https://www.flipkart.com/')
driver.find_element(By.NAME, 'q').send_keys('Sneakers')
driver.find_element(By.XPATH, "(//*[name()='svg'])[1]").click()

sneakers = []
max_items = 100  # Maximum number of items to scrape

# Loop to handle multiple pages
while len(sneakers) < max_items:
    # Retrieve elements
    brands = driver.find_elements(By.XPATH, "//div[@class='syl9yP']")
    descriptions = driver.find_elements(By.XPATH, "//a[contains(@class, 'WKTcLC')]")
    prices = driver.find_elements(By.XPATH, "//div[@class='Nx9bqj']")

    # Find the minimum length of the lists to avoid index errors
    num_items = min(len(brands), len(descriptions), len(prices), max_items - len(sneakers))

    # Collect data into a list of dictionaries
    for i in range(num_items):
        sneakers.append({
            'Brand': brands[i].text,
            'Description': descriptions[i].text,
            'Price': prices[i].text
        })

    # Check if we have reached the max_items limit
    if len(sneakers) >= max_items:
        break

    # Check if there is a "Next" button
        next_button = driver.find_element(By.XPATH, "//a[@class='_9QVEpD']")  
        time.sleep(3)  # Wait for the next page to load
   

# Create a DataFrame and display the results
df_sneakers = pd.DataFrame(sneakers[:max_items])  # Limit to max_items
print(df_sneakers)

# Save the results to a CSV file
df_sneakers.to_csv('sneakers_data.csv', index=False)

# Close the browser
driver.quit()

           Brand                                        Description    Price
0      Deals4you                                 Sneakers For Women     ₹409
1          Sparx   SM 852 | Stylish, Comfortable | Sneakers For Men     ₹879
2          WROGN                                   Sneakers For Men     ₹699
3         CAMPUS                         BROWNIE Sneakers For Women   ₹1,374
4       Vellinto            Casual Sneakrs For Men Sneakers For Men     ₹599
..           ...                                                ...      ...
95      Skechers                        GLIDE-STEP Sneakers For Men   ₹3,369
96          Bata                         DUNK E 24 Sneakers For Men     ₹604
97          Bata                                   Sneakers For Men     ₹439
98      Red Tape  Casual Sneaker Shoes for Men | Classic Rounded...   ₹1,979
99  UNDER ARMOUR                                   Sneakers For Men  ₹13,799

[100 rows x 3 columns]

# *************************************************************************

# Q5: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then set CPU
    Type filter to “Intel Core i7” as shown in the below image:

In [12]:

edge_options = webdriver.EdgeOptions()
edge_options.use_chromium = True  # Use Chromium-based Edge
driver = webdriver.Edge(options=edge_options)

# Set an implicit wait time (e.g., 10 seconds)
driver.implicitly_wait(10)

driver.get('https://www.amazon.in/')
driver.find_element(By.ID, 'twotabsearchtextbox').send_keys('Laptop')
driver.find_element(By.ID, 'nav-search-submit-button').click()

# Apply Intel Core i7 filter
driver.find_element(By.XPATH, "//span[text()='Intel Core i7']").click()

# Scrape title, ratings, and price
titles = driver.find_elements(By.XPATH, "//span[@class='a-size-medium a-color-base a-text-normal']")
ratings = driver.find_elements(By.XPATH, "//span[@class='a-icon-alt']")
prices = driver.find_elements(By.XPATH, "//span[@class='a-price-whole']")

laptops = []
for i in range(10):
    laptops.append({
        'Title': titles[i].text,
        'Rating': ratings[i].text,
        'Price': prices[i].text
    })

df_laptops = pd.DataFrame(laptops)
print(df_laptops)

# Save the results to a CSV file
df_laptops.to_csv('laptop_data.csv', index=False)

# Close the browser
driver.quit()

                                               Title Rating   Price
0  HP Laptop 15s, 12th Gen Intel Core i7-1255U, 1...         59,990
1  Dell [Smartchoice] Inspiron 5430 Thin & Light ...         75,490
2  Acer Aspire Lite 12th Gen Intel Core i7-1255U ...         49,990
3  HP Pavilion 14 12th Gen Intel Core i7 16GB SDR...         76,990
4  Acer ALG 13th Gen Intel Core i7 Gaming Laptop ...         71,990
5  (Refurbished) Dell Latitude 7480 14in FHD Lapt...         27,531
6  Acer Aspire Lite 12th Gen Intel Core i7-1255U ...         55,990
7  Dell Inspiron 3530 Laptop, 13th Generation Int...         69,890
8  Acer Travelmate Business Laptop Intel Core i7-...         44,890
9  MSI Thin 15, Intel 13th Gen. Core i7-13620H, 4...         69,990

# *************************************************************************

# Q6: Write a python program to scrape data for Top 1000 Quotes of All Time.
    The above task will be done in following steps:
    1. First get the webpagehttps://www.azquotes.com/
    2. Click on TopQuote
    3. Than scrap a)Quote b) Author c) Type Of Quotes

In [13]:

# Initialize Edge WebDriver with options
edge_options = webdriver.EdgeOptions()
edge_options.use_chromium = True  # Use Chromium-based Edge
driver = webdriver.Edge(options=edge_options)

# Set an implicit wait time (e.g., 10 seconds)
driver.implicitly_wait(10)

# Navigate to AzQuotes homepage
driver.get('https://www.azquotes.com/')

# Click the "Top Quotes" link
top_quotes_link = driver.find_element(By.XPATH, "(//a[normalize-space()='Top Quotes'])[1]")
top_quotes_link.click()

# Prepare an empty list to store all quotes
all_quotes = []
page_num = 0

while True:
    page_num += 1
    
    # Locate quote elements
    quote_elements = driver.find_elements(By.CLASS_NAME, 'title')
    author_elements = driver.find_elements(By.CLASS_NAME, 'author')
    type_elements = driver.find_elements(By.CLASS_NAME, 'tags')
    
    # Determine the number of available quotes on the current page
    num_quotes = min(len(quote_elements), len(author_elements), len(type_elements))
    
    # Extract data from the current page
    for i in range(num_quotes):
        quote_text = quote_elements[i].text.strip()
        author_text = author_elements[i].text.strip()
        type_text = type_elements[i].text.strip()
        
        all_quotes.append({
            'Quote': quote_text,
            'Author': author_text,
            'Type': type_text
        })
    
    # Try to find and click the "Next →" button to go to the next page
    next_buttons = driver.find_elements(By.XPATH, "(//a[contains(text(),'Next →')])[1]")
    
    # If no "Next →" button is found, exit the loop
    if len(next_buttons) == 0:
        print("No more pages available. Scraping complete.")
        break
    
    # Click the "Next →" button to load the next page
    next_buttons[0].click()

# Create a DataFrame from the scraped data
df_quotes = pd.DataFrame(all_quotes)

# Display the DataFrame or save to a file
print(df_quotes)
df_quotes.to_csv('all_quotes.csv', index=False)

# Close the browser
driver.quit()

No more pages available. Scraping complete.
                                                 Quote              Author  \
0                                             Authors:      Michael Porter
1    The essence of strategy is choosing what not t...          Golda Meir
2    One cannot and must not try to erase the past ...  Theodore Roosevelt
3    Patriotism means to stand by the country. It d...      Nelson Mandela
4    Death is something inevitable. When a man has ...        Erma Bombeck
..                                                 ...                 ...
995  Leaders must be close enough to relate to othe...    Sydney J. Harris
996  Regret for the things we did can be tempered b...  Hunter S. Thompson
997  America... just a nation of two hundred millio...            Jim Rohn
998  For every disciplined effort there is a multip...            Ram Dass
999  The spiritual journey is individual, highly pe...            Plutarch

                                         Type
0    Essence, Deep Thought, Transcendentalism
1                   Inspiration, Past, Trying
2                         Country, Peace, War
3          Inspirational, Motivational, Death
4                4th Of July, Food, Patriotic
..                                        ...
995         Love, Inspirational, Motivational
996                    Gun, Two, Qualms About
997     Inspirational, Greatness, Best Effort
998                    Spiritual, Truth, Yoga
999      Inspirational, Leadership, Education

[1000 rows x 3 columns]

# *************************************************************************

# Q7: Write a python program to display list of respected former Prime Ministers of India (i.e. Name,Born-Dead, Term of office, Remarks) from https://www.jagranjosh.com/general-knowledge/list-ofall-prime-ministers-of-india-1473165149-1
    scrap the mentioned data and make the DataFrame

# *************************************************************************

# Q8: Write a python program to display list of 50 Most expensive cars in the world(i.e. Car name and Price) from https://www.motor1.com/
    This task will be done in following steps:
    1. First get the webpage https://www.motor1.com/
    2. Then You have to type in the search bar ’50 most expensive cars’
    3. Then click on 50 most expensive carsin the world..
    4. Then scrap thementioned data and make the dataframe.

# *************************************************************************

In [ ]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import pandas as pd

# Set up Edge WebDriver
edge_options = webdriver.EdgeOptions()
edge_options.use_chromium = True  # This enables using the Chromium-based Edge browser
driver = webdriver.Edge(options=edge_options)

# Step 2: Open the webpage
driver.get('https://www.motor1.com/')

# Wait for the search input to be clickable
WebDriverWait(driver, 10).until(EC.element_to_be_clickable((By.XPATH, "//input[@class='m1-search-panel-input m1-search-form-text']"))).send_keys('50 most expensive cars')

# Click the search button
WebDriverWait(driver, 10).until(EC.element_to_be_clickable((By.XPATH, "//button[@class='m1-search-panel-button m1-search-form-button-animate icon-search-svg']"))).click()

# Wait for the search results to load and display the desired link
desired_link = WebDriverWait(driver, 10).until(EC.element_to_be_clickable((By.XPATH, "//a[@class='text']")))
desired_link.click()

# Wait for the new page to load fully
WebDriverWait(driver, 15).until(EC.presence_of_element_located((By.XPATH, "//h3[@class='subheader']")))

# Step 5: Extract car names and prices
car_names = driver.find_elements(By.XPATH, "//h3[@class='subheader']")
prices = driver.find_elements(By.XPATH, '//strong[contains(text(), "Price:")]')

# Step 7: Store the data in a list
expensive_cars = []
num_cars = min(len(car_names), len(prices))  # Use the smaller of the two lists

for i in range(num_cars):
    expensive_cars.append({
        'Car Name': car_names[i].text,
        'Price': prices[i].text
    })

# Step 8: Create a Pandas DataFrame from the scraped data
df = pd.DataFrame(expensive_cars)
print(df)

# Save the DataFrame to a CSV file
df.to_csv('expensive_cars.csv', index=False)

# Step 9: Quit the driver
driver.quit()

                                     Car Name                        Price
0                           McLaren Senna GTR          Price: $1.7 Million
1                                 Czinger 21C          Price: $1.7 Million
2                               Ferrari Monza          Price: $1.7 Million
3                          Gordon Murray T.33          Price: $1.7 Million
4                           Koenigsegg Gemera          Price: $1.8 Million
5                          Hennessey Venom F5          Price: $1.9 Million
6                             Bentley Bacalar          Price: $1.9 Million
7               Hispano Suiza Carmen Boulogne          Price: $2.0 Million
8                      Bentley Mulliner Batur          Price: $2.0 Million
9                                 SSC Tuatara          Price: $2.1 Million
10                                Lotus Evija          Price: $2.3 Million
11                        Aston Martin Vulcan          Price: $2.3 Million
12                                 Delage D12          Price: $2.3 Million
13                        Ferrari Daytona SP3          Price: $2.3 Million
14                          McLaren Speedtail          Price: $2.4 Million
15                               Rimac Nevera          Price: $2.5 Million
16                              Pagani Utopia          Price: $2.5 Million
17                       Pininfarina Battista          Price: $2.6 Million
18                         Gordon Murray T.50          Price: $2.6 Million
19                       Lamborghini Countach          Price: $2.7 Million
20              Hennessey Venom F5 Revolution          Price: $2.8 Million
21                   Mercedes-AMG Project One          Price: $3.0 Million
22                               Zenvo Aurora          Price: $3.0 Million
23                        Aston Martin Victor          Price: $3.2 Million
24                Hennessey Venom F5 Roadster          Price: $3.4 Million
25                           Koenigsegg Jesko          Price: $3.6 million
26                                 Aspark Owl          Price: $3.7 Million
27                      Aston Martin Valkyrie          Price: $3.9 Million
28                  W Motors Lykan Hypersport          Price: $4.5 Million
29                              McLaren Solus          Price: $4.7 Million
30                        Pagani Huayra Evo R          Price: $4.8 Million
31                           Lamborghini Sian          Price: $5.0 Million
32                           Koenigsegg CC850          Price: $5.8 Million
33            Bugatti Chiron Super Sport 300+          Price: $7.4 Million
34  Gordon Murray Automotive T.50s Niki Lauda          Price: $8.0 Million
35                  Pagani Huayra Roadster BC          Price: $9.0 Million
36                         Lamborghini Veneno         Price: $10.8 Million
37                             Bugatti Bolide         Price: $12.8 Million
38                  Pininfarina B95 Speedster         Price: $13.4 Million
39                            Bugatti Mistral  Price: $28.0 Million (est.)
40                               Bugatti Divo    Price: $30 Million (est.)