In [1]:
import re
import pandas as pd

# Question 1- Write a Python program to replace all occurrences of a space, comma, or dot with a colon.
    Sample Text- 'Python Exercises, PHP exercises.'
     Expected Output: Python:Exercises::PHP:exercises:

In [2]:
y = r'[, .]'
text = 'Python Exercises, PHP exercises.'

replace = re.sub(y, ":",text)
print(replace)

Python:Exercises::PHP:exercises:

# Question 2-  Create a dataframe using the dictionary below and remove everything (commas (,), !, XXXX, ;, etc.) from the columns except words.
           Dictionary- {'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']}
            Expected output-
           0      hello world
           1             test
           2    four five six

In [135]:
Dictionary = {'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']}

import pandas as pd

df = pd.DataFrame(Dictionary)


# remove the occurrences
df['SUMMARY'] = df['SUMMARY'].str.replace(r'[^\w\s]', '', regex=True)


print(df)

            SUMMARY
0       hello world
1        XXXXX test
2  123four five six

# Question 3- Create a function in python to find all words that are at least 4 characters long in a string. The use of the re.compile() method is mandatory.

In [8]:
str = "This is a test with some words that are four long and others that are not."

pattern = re.compile(r'\b\w{4,}\b')

def fucation(str):
    output = pattern.findall(str)
    return output

print(fucation(str))

['This', 'test', 'with', 'some', 'words', 'that', 'four', 'long', 'others', 'that']

# Question 4- Create a function in python to find all three, four, and five character words in a string. The use of the re.compile() method is mandatory.

In [9]:
str = "Here are some examples: cat, dogs, tree, house, and party."

pattern = re.compile(r'\b\w{3,5}\b')

def fucation(string):
    string = pattern.findall(string)
    return string

print(fucation(str))

['Here', 'are', 'some', 'cat', 'dogs', 'tree', 'house', 'and', 'party']

# Question 5- Create a function in Python to remove the parenthesis in a list of strings. The use of the re.compile() method is mandatory.
    Sample Text: ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
    Expected Output:
    example.com
    hr@fliprobo.com
    github.com
    Hello Data Science World
    Data Scientist

In [15]:
def remove_parenthesis(text):
    for item in text:     
        pattern=re.compile(r" ?\(| ?\)")     
        print(pattern.sub("", item))  
        
sample_text = ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]

remove_parenthesis(sample_text)

example.com
hr@fliprobo.com
github.com
HelloData Science World
DataScientist

# Question 6- Write a python program to remove the parenthesis area from the text stored in the text file using Regular Expression.
            Sample Text: ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
            Output: ["example", "hr@fliprobo", "github", "Hello", "Data"]
            Note- Store given sample text in the text file and then to remove the parenthesis area from the text.

In [147]:

def remove_parenthesis_area(text):
    pattern = re.compile(r'\s?\(.*?\)')
    return pattern.sub('', text)

with open('remove_parenthesis.txt', 'r') as file:
    content = file.read()

result = remove_parenthesis_area(content)
print(result)

["example", "hr@fliprobo", "github", "Hello", "Data"]

# Question 7- Write a regular expression in Python to split a string into uppercase letters.
          Sample text: “ImportanceOfRegularExpressionsInPython”
          Expected Output: [‘Importance’, ‘Of’, ‘Regular’, ‘Expression’, ‘In’, ‘Python’]

In [20]:

sample_text = "ImportanceOfRegularExpressionsInPython"
output = re.findall("([A-Z][^A-Z]*)", sample_text)
print(output)

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

# Question 8- Create a function in python to insert spaces between words starting with numbers.
          Sample Text: “RegularExpression1IsAn2ImportantTopic3InPython"
          Output: RegularExpression 1IsAn 2ImportantTopic 3InPython

In [21]:

def insert_space(text):
    return re.sub(r'(\d)', r' \1', text)

sample_text = "RegularExpression1IsAn2ImportantTopic3InPython"
print(insert_space(sample_text))

RegularExpression 1IsAn 2ImportantTopic 3InPython

# Question 9- Create a function in python to insert spaces between words starting with capital letters or with numbers.
    Sample Text: “RegularExpression1IsAn2ImportantTopic3InPython"
    Expected Output:  RegularExpression 1 IsAn 2 ImportantTopic 3 InPython

In [36]:

Sample_text = "RegularExpression1IsAn2ImportantTopic3InPython"

def insert_space_capitalletter(text):
    
     return re.sub(r'([A-Z\d])',r' \1',text)

print(insert_space_capitalletter(Sample_text))

 Regular Expression 1 Is An 2 Important Topic 3 In Python

# Question 10- Use the github link below to read the data and create a dataframe. After creating the dataframe extract the first 6 letters of each country and store in the dataframe under a new column called first_five_letters.
     Github Link-  https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv

In [57]:
url = "https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv"
df = pd.read_csv(url)
df

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176
...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726

In [60]:
df['first_five_letters'] = df['Country'].str[:6]
print(df[['Country','first_five_letters']])

         Country first_five_letters
0    Switzerland             Switze
1        Iceland             Icelan
2        Denmark             Denmar
3         Norway             Norway
4         Canada             Canada
..           ...                ...
153       Rwanda             Rwanda
154        Benin              Benin
155        Syria              Syria
156      Burundi             Burund
157         Togo               Togo

[158 rows x 2 columns]

# Question 11- Write a Python program to match a string that contains only upper and lowercase letters, numbers, and underscores.

In [138]:
pattern = r'^[A-Za-z0-9_]+$'

text = "Valid_Data"
output =  re.match(pattern, text)

if output:
    print('Valid String: ',text)
else:
    print('Invalid String')

Valid String:  Valid_Data

# Question 12- Write a Python program where a string will start with a specific number.

In [80]:
pattern = r'^5'

string = ('5_Month_FlipRobo_Intership_Work')

output = re.match(pattern,string)
if output:
    print("String Will Start '5' specific number:",string)
else:
    print("String Will Not Start  '5'  number:")

String Will Start '5' specific number: 5_Month_FlipRobo_Intership _Work

# Question 13- Write a Python program to remove leading zeros from an IP address

In [84]:
ip_address = '199.006.323.256'
pattern = r'\.[0]*'

output = re.sub(pattern,'.',ip_address)
output

'199.6.323.256'

# Question 14- Write a regular expression in python to match a date string in the form of Month name followed by day number and year stored in a text file.
      Sample text :  ' On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to             the leaders of the Country’.
      Expected Output- August 15th 1947
      Note- Store given sample text in the text file and then extract the date string asked format.

In [155]:

def extract_date_from_text(file_path):
    # Open and read the file contents
    with open('month_name.txt', 'r') as file:
        text = file.read()
    
    pattern = r'\b([A-Z][a-z]+) (\d{1,2}(?:st|nd|rd|th)?) (\d{4})\b'
    match = re.search(pattern, text)
    
    if match:
        return match.group(0)
    else:
        return "No date found in the specified format."


date_string = extract_date_from_text(file_path)
print("Extracted Date:", date_string)

Extracted Date: August 15th 1947

# Question 15- Write a Python program to search some literals strings in a string. 
     Sample text : 'The quick brown fox jumps over the lazy dog.'
     Searched words : 'fox', 'dog', 'horse'

In [94]:
Sample_text = 'The quick brown fox jumps over the lazy dog.'
Searched_words = 'fox', 'dog', 'horse'

for word in Searched_words:
    print(word, Sample_text)
    if re.search(word,  Sample_text):
        print('Matched!')
    else:
        print('Not Matched!')

fox The quick brown fox jumps over the lazy dog.
Matched!
dog The quick brown fox jumps over the lazy dog.
Matched!
horse The quick brown fox jumps over the lazy dog.
Not Matched!

#  Question 16- Write a Python program to search a literals string in a string and also find the location within the original string where the pattern occurs
           Sample text : 'The quick brown fox jumps over the lazy dog.'
           Searched words : 'fox'

In [92]:

def search_literal_position(text, word):
    match = re.search(word,text)
    if match:
        return match.start(), match.end()

semple_text = 'The quick brown fox jumps over the lazy dog.'
search_word = 'fox'
print(search_literal_position(semple_text, search_word))

(16, 19)

# Question 17- Write a Python program to find the substrings within a string.
     Sample text : 'Python exercises, PHP exercises, C# exercises'
     Pattern : 'exercises'.

In [39]:
text = 'Python exercises, PHP exercises, C# exercises'
pattern = 'exercises'

for match in re.findall(pattern, text):
    print('match "%s"' % match)

match "exercises"
match "exercises"
match "exercises"

# Question 18- Write a Python program to find the occurrence and position of the substrings within a string.

In [134]:
text = 'Python exercises, PHP , C# exercises'
pattern = 'exercises'
for match in re.finditer(pattern, text):
    s = match.start()
    e = match.end()
    print( "Position of Substring found start:end",s,":",e)

Position of Substring found start:end 7 : 16
Position of Substring found start:end 27 : 36

# Question 19- Write a Python program to convert a date of yyyy-mm-dd format to dd-mm-yyyy format.

In [139]:
def change_date_format(dt):
        return re.sub(r'(\d{4})-(\d{1,2})-(\d{1,2})', '\\3-\\2-\\1', dt)
dt1 = "2026-08-22"
print("Original date in YYY-MM-DD Format: ",dt1)
print("New date in DD-MM-YYYY Format: ",change_date_format(dt1))

Original date in YYY-MM-DD Format:  2026-08-22
New date in DD-MM-YYYY Format:  22-08-2026

# Question 20- Create a function in python to find all decimal numbers with a precision of 1 or 2 in a string. The use of the re.compile() method is mandatory.
      Sample Text: "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
      Expected Output: ['01.12', '145.8', '3.01', '27.25', '0.25']

In [34]:

def find_numbers(text):
    pattern = re.compile(r'\b\d+\.\d{1,2}\b')
    return pattern.findall(text)

sample_text = "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
print(find_numbers(sample_text))

['01.12', '145.8', '3.01', '27.25', '0.25']

# Question 21- Write a Python program to separate and print the numbers and their position of a given string.

In [144]:
text = """The following example creates an ArrayList with a capacity of 50 elements. 
        "Four elements are then added to the ArrayList and the ArrayList is trimmed accordingly."""

for m in re.finditer("\d+", text):
    print(m.group(0))
    print("Index position:", m.start())

50
Index position: 62

<>:4: SyntaxWarning: invalid escape sequence '\d'
<>:4: SyntaxWarning: invalid escape sequence '\d'
C:\Users\Krish\AppData\Local\Temp\ipykernel_10452\892874798.py:4: SyntaxWarning: invalid escape sequence '\d'
  for m in re.finditer("\d+", text):

# Question 22- Write a regular expression in python program to extract maximum/largest numeric value from a string.
      Sample Text:  'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'
      Expected Output: 950

In [19]:
input_string = 'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'

numeric_values = re.findall(r'\d+', input_string)
numeric_values = [int(value) for value in numeric_values]

max_value = max(numeric_values)


print("maximum/largest numeric value from a string:",max_value)

maximum/largest numeric value from a string: 950

# Question 23- Create a function in python to insert spaces between words starting with capital letters.
    Sample Text: “RegularExpressionIsAnImportantTopicInPython"
    Expected Output: Regular Expression Is An Important Topic In Python

In [51]:

def insert_space_capitals_letter(text):
    return re.sub(r'([A-Z])', r' \1', text)

sample_text = "RegularExpressionIsAnImportantTopicInPython"
print(insert_space_capitals_letter(sample_text))

 Regular Expression Is An Important Topic In Python

# Question 24- Python regex to find sequences of one upper case letter followed by lower case letters

In [7]:

def find_sequences(text):
    return re.findall(r'\b[A-Z][a-z]+\b', text)

sample_text = "This is a Test Example of Regular Expression."
print(find_sequences(sample_text))

['This', 'Test', 'Example', 'Regular', 'Expression']

# Question 25- Write a Python program to remove continuous duplicate words from Sentence using Regular Expression.
    Sample Text: "Hello hello world world"
    Expected Output: Hello hello world

In [9]:
def remove_duplicates(text):
    return re.sub(r'\b(\w+)\s+\1\b', r'\1', text)

sample_text = "Hello hello world world"
print(remove_duplicates(sample_text))

Hello hello world

# Question 26-  Write a python program using RegEx to accept string ending with alphanumeric character.

In [79]:
def check_string(input_string):
  pattern = r"\w$"
  match = re.search(pattern, input_string)
  if match:
      return True
  else:
      return False

In [145]:

def check_string(input_string):
    pattern = r'.*[a-zA-Z0-9]$'
    
    if re.match(pattern, input_string):
        return "Valid string."
    else:
        return "Invalid string."

# Taking input from the user
user_input = input("Enter a string: ")
result = check_string(user_input)
print(result)

Enter a string:  Ram went go to Home

Valid string.

# Question 27-Write a python program using RegEx to extract the hashtags.
      Sample Text:  """RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed>         <U+00B1><U+0089> "acquired funds" No wo"""
      Expected Output: ['#Doltiwal', '#xyzabc', '#Demonetization']

In [53]:
def extract_hashtags(text):

    pattern = r'#\w+'

    hashtags = re.findall(pattern, text)
    return hashtags

sample_text = """RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""

print(extract_hashtags(sample_text))

['#Doltiwal', '#xyzabc', '#Demonetization']

# Question 28- Write a python program using RegEx to remove <U+..> like symbols
     Check the below sample text, there are strange symbols something of the sort <U+..> all over the place. You need to come up with a general Regex           expression that will cover all such symbols.
     Sample Text: "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different          party leaders"
     Expected Output: @Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders

In [68]:

def remove_symbols(text):
    return re.sub(r'<U\+\w+>', '', text)

sample_text: "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"
print(remove_symbols(sample_text))

@Jags123456 Bharat band on 28??<ed><ed>Those who are protesting #demonetization are all different party leaders

# Question 29- Write a python program to extract dates from the text stored in the text file.
    Sample Text: Ron was born on 12-09-1992 and he was admitted to school 15-12-1999.
    Note- Store this sample text in the file and then extract dates.

In [146]:
def extract_dates(text):
    return re.findall(r'\d{2}-\d{2}-\d{4}', text)

with open('sample_text.txt', 'r') as file:
    content = file.read()

print(extract_dates(content))

['12-09-1992', '15-12-1999']

# Question 30- Create a function in python to remove all words from a string of length between 2 and 4.
    The use of the re.compile() method is mandatory.
    Sample Text: "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList      is trimmed accordingly."
    Expected Output:  following example creates ArrayList a capacity elements. 4 elements added ArrayList ArrayList trimmed accordingly.

In [71]:
def remove_short_words(text):
    pattern = re.compile(r'\b\w{2,4}\b')
    return re.sub(pattern,'',sample_text)

sample_text = "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
print(remove_short_words(sample_text))

 following example creates  ArrayList  a capacity   elements. 4 elements   added   ArrayList   ArrayList  trimmed accordingly.